body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(165, 207, 193);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  padding: 0;
}

.general{
  display: flex;
  flex-direction: row;
}
/* style for profile */
.profile{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 280px;
  max-height: 470px;
  margin: 50px 20px 50px;
  text-align: center;
}
.avatar {
  width: 100%;
  border-radius: 50%;
  padding: 10px;
}

.name {
  color: rgb(0, 0, 0);
    font-size: 24px;
}

.tag{
  color: rgb(126, 126, 126);
    font-size: 18px;
}
.location{
  color: rgb(126, 126, 126);
    font-size: 18px;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: rgb(247, 235, 214);
}
.stats li{
  list-style-type:none;
  display: flex;
  flex-direction: column;
  flex-basis: 80px;
  padding: 10px;
}

.label{
  color: rgb(126, 126, 126);
}

.quantity{
  color: rgb(0, 0, 0);
    font-size: 20px;
}

/* style for Statistics */
.statistics{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 134px;
  margin: 50px 20px 50px;
  text-align: center;
}

.title{
  padding: 20px 20px 0;
  color: rgb(119, 119, 119);
}

.stat-list{
  list-style-type:none;
  display: flex;
  justify-content: center;
}

.item{
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 60px;
  background-color: antiquewhite;
}

/* style for FriendList */
.friend-icon{
  width: 48px;
  border-radius: 50%;
}

.friends-container{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  width: 300px;
  height: 420px;
  margin: 50px 20px 50px;
}

.friend-item{
  list-style-type:none;
  display: flex;
  justify-content: start;
  min-width: 170px;
  margin: 0px 0px 10px;
  background-color: wheat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.friend-icon{
  padding: 10px;
  border-radius: 1px;
}

.friend-list{
  margin: 0;
}

.status {
  padding: 5px;
}
.online {
  background-color: green;
}

.offline{
  background-color: red;
}


/* style for TransactionHistory */


#transaction-history {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 670px;
  margin: 50px 20px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#transaction-history td, #transaction-history th {
  border: 1px solid #ddd;
  padding: 8px;
}

#transaction-history tr:nth-child(even){background-color: #f2f2f2;}

#transaction-history tr:hover {background-color: #ddd;}

#transaction-history th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}